.kevux > .header-block {
  display: none;
}

.kevux > .content-block > .nav-block {
  display: none;
}

.kevux > .content-block > .main-block > .main {
  flex: auto;
}

.kevux > .content-block > .main-block .header.separate > .h,
.kevux > .content-block > .main-block > .main .header > .h1 {
  border-bottom: 1px solid;
  padding-bottom: 1rem;
  margin-bottom: 8px;
}
