.kevux > .header-block {
  display: none;
}

.kevux > .content-block > .nav-block {
  display: none;
}

.kevux > .content-block > .main-block > .main {
  flex: auto;
}

.kevux > .content-block > .main-block .header.separate > .h,
.kevux > .content-block > .main-block > .main .header > .h1 {
  border-bottom: 1px solid;
  padding-bottom: 1rem;
  margin-bottom: 8px;
}

.kevux > .content-block .image.content {
  display: block;

  border: 1px solid #000000;
}

.kevux > .content-block .image.title {
  margin-left: auto;
  margin-right: auto;
}

.kevux > .content-block .tip .code.terminal {
  background-color: #ffffff;
  color: #000000;

  border-color: #000000;
}
