:root {
  font-size: 13px;

  --height_screen: 100vh;
  --height_header_site: 65px;

  --width_screen: 100vw;
  --width_screen_90: 90vw;
  --width_side: 0px;

  --float_right_by_width: right;
  --float_left_by_width: left;

  --margin_by_width_1rem_auto: 1rem;
}

.kevux {
  box-sizing: border-box;

  line-height: 1.4rem;

  margin: 0px;
  padding: 0px;
}

.kevux > .header-block > .nav-block > .nav-menu > .nav-item > .nav-text.link,
.kevux > .header-block > .nav-block > .nav-menu > .nav-item > .nav-text.link:visited {
  color: #000000;
  text-decoration: none;
}

.kevux > .header-block > .nav-block > .nav-menu > .nav-item > .nav-text.link:active,
.kevux > .header-block > .nav-block > .nav-menu > .nav-item > .nav-text.link:focus,
.kevux > .header-block > .nav-block > .nav-menu > .nav-item > .nav-text.link:hover {
  text-decoration: underline;
}

.kevux > .content-block {
  box-sizing: border-box;
}

.kevux > .content-block > .nav-block {
  box-sizing: border-box;

  color: #000000;
  background-color: #c5e6c4;
}

.kevux > .content-block > .nav-block > .nav-menu > .nav-item {
  box-sizing: border-box;

  text-align: center;
}

.kevux > .content-block > .nav-block > .nav-menu > .nav-item > .nav-text {
  font-family: monospace;
}

.kevux > .content-block > .nav-block > .nav-menu > .nav-item > .nav-text.notice {
  font-family: serif;
}

.kevux > .content-block > .nav-block > .nav-menu > .nav-item > .nav-text.link,
.kevux > .content-block > .nav-block > .nav-menu > .nav-item > .nav-text.link:visited {
  color: #000000;
  text-decoration: none;
}

.kevux > .content-block > .nav-block > .nav-menu > .nav-item > .nav-text.link:active,
.kevux > .content-block > .nav-block > .nav-menu > .nav-item > .nav-text.link:focus,
.kevux > .content-block > .nav-block > .nav-menu > .nav-item > .nav-text.link:hover {
  display: block;

  font-weight: bold;
  background-color: #e5f5c9;
  text-decoration: underline;
}

.kevux > .content-block > .nav-block > .nav-menu > .nav-item.unlink,
.kevux > .content-block > .nav-block > .nav-menu > .nav-item > .nav-text.unlink {
  display: block;

  font-weight: normal;
  background-color: #e5f5c9;
}

.kevux > .content-block > .main-block {
  box-sizing: border-box;
}

.kevux > .content-block > .main-block a,
.kevux > .content-block > .main-block a:visited {
  color: #0000ee;
}

.kevux > .content-block > .main-block a:active {
  color: #ee0000;
}

.kevux > .content-block > .main-block .header.separate > .h {
  border-bottom: 1px dashed #556000;
  margin-bottom: 8px;
}

.kevux > .content-block > .main-block .grid {
  column-gap: 1rem;
}

.kevux > .content-block > .main-block .grid.wide {
  display: grid;
}

.kevux > .content-block > .main-block .grid.narrow {
  display: inline-grid;
}

.kevux > .content-block > .main-block .table,
.kevux > .content-block > .main-block .table > .set,
.kevux > .content-block > .main-block .table > .set > .row
.kevux > .content-block > .main-block .table > .set > .column {
  box-sizing: border-box;
}

.kevux > .content-block > .main-block .center {
  display: block;
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;

  width: max-content;
}

.kevux > .content-block > .main-block .table {
  border-collapse: collapse;
  margin: 1rem;

  max-width: calc(var(--width_screen_90) - var(--width_side));
}

.kevux > .content-block > .main-block .table > .head {
  border-bottom: 1px solid black;
}

.kevux > .content-block > .main-block .table > .set > .row > .column {
  padding: 2px 0.5rem;
}

.kevux > .content-block > .main-block .table > .set > .row > .column:not(:last-of-type) {
  border-right: 1px dotted;
}

.kevux > .content-block > .main-block .dl {
  border: 1px solid #e0e0e0;

  width: fit-content;
}

.kevux > .content-block > .main-block .dl > .di {
  padding: 4px;
}

.kevux > .content-block > .main-block .dl > .di > .dt {
  font-weight: bold;

  padding: 2px;
}

.kevux > .content-block > .main-block .dl > .di:nth-child(odd) {
  background-color: #efefef;
}

.kevux > .content-block > .main-block .preserve {
  box-sizing: border-box;

  white-space: pre-wrap;

  background-color: #fffff5;

  border: 1px solid #e6e78d;
  margin: 2px 4px;
  padding: 4px 8px;
}

.kevux > .content-block > .main-block .preserve.margin-below {
  margin-bottom: 1rem;
}

.kevux > .content-block > .main-block .code {
  box-sizing: border-box;

  font-family: monospace;

  color: #724801;
}

.kevux.documentation > .content-block > .main-block .table.context-parameters > .set > .row:nth-child(even) {
  background-color: #efefef;
}

.kevux.documentation > .content-block > .main-block .table.context-parameters > .set > .row > .column:nth-child(1) {
  text-align: center;
}

.kevux > .content-block .image.content {
  display: block;
  box-sizing: border-box;
}

.kevux > .content-block .image.title {
  border: 1px solid #357837;
}

.kevux > .content-block .image.left {
  float: var(--float_left_by_width);
}

.kevux > .content-block .image.right {
  float: var(--float_right_by_width);
}

.kevux > .content-block .image.margin-1rem {
  margin: var(--margin_by_width_1rem_auto);
}

.kevux > .content-block .tip {
  display: block;
  box-sizing: border-box;

  overflow: auto;

  border: 1px dotted #724801;
  margin: 0.5rem;
  padding: 0.75rem;

  background-color: #f9f9f0;
}

.kevux > .content-block .subsection.box > .subsection-content > .p:first-of-type {
  margin-top: 0px;
}

.kevux > .content-block .subsection.box > .subsection-content > .p:last-of-type {
  margin-bottom: 0px;
}

.kevux > .content-block .subsection.box {
  display: block;
  box-sizing: border-box;

  overflow: auto;

  border: 1px dotted #724801;
  margin: 0.5rem;
  padding: 0.75rem;

  background-color: #e7f1ff;
}

.kevux > .content-block .tip .code.terminal {
  display: block;
  box-sizing: border-box;

  border: 1px dashed #000000;
  margin: 0.5rem;
  padding: 0.75rem;

  white-space: pre-line;
  unicode-bidi: embed;
  background-color: #404040;
  color: #ffffff;
}
