.kevux {
  font-size: 0.6rem;
  line-height: 1.0rem;

  min-width: 170px;
}

.kevux > .header-block {
  min-height: 40px;
  max-height: 40px;
}

.kevux > .header-block > .header-section > .header-site {
  font-size: 0.7rem;
  line-height: 1.1rem;
  overflow: hidden;

  min-width: 250px;
}

.kevux > .header-block > .nav-block {
  font-size: 0.5rem;
  line-height: 0.9rem;
  overflow: hidden;

  min-width: 250px;
}

.kevux .header > .h1 {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.kevux .header > .h2 {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.kevux .header > .h3,
.kevux .header > .h4,
.kevux .header > .h5,
.kevux .header > .h6 {
  font-size: 0.7rem;
  line-height: 1.1rem;
}

.kevux .subsection.update > .header > .h3,
.kevux .subsection.update > .header > .h4,
.kevux .subsection.update > .header > .h5,
.kevux .subsection.update > .header > .h6 {
  font-size: 0.5rem;
  line-height: 0.9rem;
}

.kevux > .content-block > .main-block .grid.expand.columns-4 {
  grid-template-columns: auto;
}
