RewriteEngine on

ErrorDocument 403 /access_denied.html
ErrorDocument 404 /not_found.html

RewriteBase "/"
RewriteRule (^\.|/\.) /not_found.html [L]

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule . - [L]

RewriteBase "/"
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME} ^(.*)/
RewriteCond %1.html -f
RewriteRule ^(.*)/ $1.html [R=301,L,QSA]
